@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~icheck-bootstrap/icheck-bootstrap.min.css';
@import '~sweetalert2/dist/sweetalert2.min.css';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '~admin-lte/dist/css/adminlte.min.css';

body {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body.login-page {
    padding-top: 4em;
    background-color: #fff;
}
.btn-sticky,
.btn-sticky:focus,
.btn-sticky.active {
    position: fixed;
    z-index: 1034;
    right: 1.42857rem;
    bottom: 5.71429rem;
    border-radius: 50px;
    padding: 4px;
    height: 54px;
    width: 54px;
    line-height: 54px;
    text-align: center;
    display: block;
    box-shadow: 0rem .25rem .5rem rgba(0, 0, 0, 0.35);
    transition: .3s;
}
.btn-sticky:hover {
    transform: translateY(-.25rem);
    box-shadow: 0rem 1rem .5rem rgba(0, 0, 0, 0.15);
}
.btn-sticky:focus, .btn-sticky.focus {
    border-color: #16aaff;
    transform: translateY(-.25rem);
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}
div.is-invalid {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 0;
    font-size: 80%;
    color: #dc3545;
}
div.is-valid {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #28a745;
}